<link rel="stylesheet" href="/css/suporte/chamados/conteudo.css">
<section class="conteudo">
    <div class="conteudo-principal">
        {{#each chamados}}  
            <table>
                <thead>
                    <tr>
                        <th colspan="3">{{assunto}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <td>{{nome}}</td>
                        <th>Finalizar Chamado</th>
                    </tr>
                    <tr>
                        <th>E-mail</th>
                        <td>{{email}}</td>
                        <td rowspan="3">
                            <form action="/suporte/deletar" method="post">
                                <input type="hidden" name="id" value="{{_id}}">
                                <button class="botao_fin">Finalizar</button>
                            </form>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>Descrição</th>
                        <td>{{descricao}}</td>
                    </tr>
                </tbody>
            </table>
        {{else}}
        {{/each}}
            
    </div>
</section>