<link rel="stylesheet" href="/css/painel/admin/controle/conteudo.css">
<section class="conteudo">
    <div class="conteudo-principal">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nome de Usuário</th>
                    <th>E-mail</th>
                    <th>isAdmin</th>
                    <th>Tornar ADM</th>
                    <th>Revogar ADM</th>
                    <th>Excluir Usuário</th>
                </tr>   
            </thead>
            <tbody>
                {{#each usuarios}}  
                    <tr>
                        <td>{{nome}}</td>
                        <td>{{nome_usuario}}</td>
                        <td>{{email}}</td>
                        <td>{{#if isAdmin}}
                                Sim
                            {{else}}
                                Não
                            {{/if}}
                        </td>

                        <td>
                            <form action="/painel/tornarADM" method="post">
                                <input type="hidden" name="id" value="{{_id}}">
                                <button class="botao_mudar">Tornar</button>
                            </form>
                        </td>

                        <td>
                            <form action="/painel/revogarADM" method="post">
                                <input type="hidden" name="id" value="{{_id}}">
                                <button class="botao_mudar">Revogar</button>
                            </form>
                        </td>
                        
                        <td>
                            <form action="/painel/deletar" method="post">
                                <input type="hidden" name="id" value="{{_id}}">
                                <button class="botao_mudar">Excluir</button>
                            </form>
                        </td>
                    </tr>
                {{else}}
                {{/each}}
            </tbody>
        </table>
    </div>
</section>